.app-container{
  background-color: #fcfcfc;
}
.JoyBox-root{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
@media only screen and (min-width: 1000px) {
  .JoyBox-root{
    padding: 4rem 0;
  }
}